<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3 background-color">
  <div class="container form">
    <form class="crearUsuario">
      <h1 class ="titulo-form preguntas-titulo"> Agregar Pregunta</h1>
        <div class="mb-5 contenido-con-margen">
          <!-- En tu vista agregarPregunta.ejs -->
          <p>IDEncuesta: <%= IDEncuesta %></p>

          <label for="inputUsuario" class="form-label label-crearUsuario preguntas">Preguntas</label>
          <select id="inputUsuario" class="form-control input-crearUsuario preguntas-input" name="rol">
            <% preguntas.forEach(pregunta => { %>
              <option value="<%= pregunta.IDPregunta %>">
                  <%= pregunta.Descripcion %>
              </option>
            <% }); %>
          
          </select>
        
        
        </div>
        <div class="btn-formUsuario">
            <button type="submit" class="btn btn-dark">Agregar</button>
        </div>
      </form>
  </div>
</div>

<%- include('includes/footer.ejs') %>