<%- include('includes/navbar.ejs') %> <%- include('includes/sidebar.ejs') %>
<!-- CSS de Bootstrap Datepicker y Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
  rel="stylesheet"
/>

<div class="main p-3">
  <div class="container graficas">
    <div class="btn-group d-flex" role="group" aria-label="Menu de gráficas">
      <button type="button" id="numeroResenas" class="btn btn-light flex-fill">
        Número de reseñas
      </button>
      <button
        type="button"
        id="calificacionEstrellas"
        class="btn btn-light active flex-fill"
      >
        Calificación de estrellas
      </button>
      <button type="button" id="orderToReview" class="btn btn-light flex-fill">
        Order to review
      </button>
    </div>
    <br />

    <div class="row">
      <div class="col-sm-4">
        <select
          class="form-select form-select-sm"
          aria-label="Small select example"
          id="categoriaDropdown"
        >
          <option value="">Seleccione una categoría</option>
          <% categorias.forEach(categoria => { %>
          <option value="<%= categoria.Categoria %>">
            <%= categoria.Categoria %>
          </option>
          <% }); %>
        </select>
      </div>
      <div class="col-sm-4">
        <select
          class="form-select form-select-sm"
          aria-label="Small select example"
          id="productoDropdown"
        >
          <option value="todosProductos">Todos los productos</option>
        </select>
      </div>
      <div class="col-sm-4">
        <div id="date-range-container" class="container">
          <div class="row no-gutters" id="formsFechasInicioFin">
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  id="start-date"
                  name="start-date"
                  class="form-control"
                  placeholder="Fecha de Inicio"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  id="end-date"
                  name="end-date"
                  class="form-control"
                  placeholder="Fecha de fin"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% datos.forEach(function(calificacion) { %>
    <div class="calificacion-estrellas"></div>
    <% }); %>

    <div class="row mt-4">
      <div class="col-12" style="width: 100%; height: 400px">
        <canvas id="chartEstrellas"></canvas>
      </div>
    </div>
    <%- include('includes/footer.ejs') %>

    <!-- Scripts para jQuery, Popper.js, Bootstrap, Bootstrap Datepicker, y Chart.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      $(document).ready(function () {
        // Configuraciones de datepicker
        $("#start-date").datepicker({ format: "yyyy/mm/dd", autoclose: true });
        $("#end-date").datepicker({ format: "yyyy/mm/dd", autoclose: true });

        // Cargar productos basados en la categoría seleccionada
        $("#categoriaDropdown").on("change", function () {
          const categoriaSeleccionada = $(this).val();
          fetch(
            `http://localhost:3000/graficas/productosPorCategoria?categoria=${categoriaSeleccionada}`
          )
            .then((data) => data.json())
            .then((data) => {
              data.forEach((producto) =>
                $("#productoDropdown").append(
                  `<option value="${producto.Nombre}">${producto.Nombre}</option>`
                )
              );
            });
          $("#productoDropdown")
            .empty()
            .append('<option value="">Seleccione un producto</option>');
        });
        // Inicialización del gráfico de barras
        const ctx = document.getElementById("chartEstrellas").getContext("2d");
        const starRatings = ["⭐", "⭐⭐", "⭐⭐⭐", "⭐⭐⭐⭐", "⭐⭐⭐⭐⭐"];
        const labels = starRatings;
        const dataPoints = JSON.parse(
          "<%= JSON.stringify(datos.map(d => d.cantidad)) %>"
        );

        const chartEstrellas = new Chart(ctx, {
          type: "bar",
          data: {
            labels: labels,
            datasets: [
              {
                label: "Cantidad de Reseñas por Calificación",
                data: dataPoints,
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              y: {},
              x: {},
            },
          },
        });
        function actualizarGrafica() {
          console.log("Actualizando");
          const categoriaSeleccionada = $("#categoriaDropdown").val();
          const productoSeleccionado = $("#productoDropdown").val();
          const fechaInicio = $("#start-date").val();
          const fechaFin = $("#end-date").val();

          fetch(
            `http://localhost:3000/graficas/calificacionesFiltradas?categoria=${categoriaSeleccionada}&producto=${productoSeleccionado}&fechaInicio=${fechaInicio}&fechaFin=${fechaFin}`
          )
            .then((response) => response.json())
            .then((data) => {
              const updatedLabels = data.map((d) => `${d.rating} estrellas`);
              const updatedData = data.map((d) => d.cantidad);

              chartEstrellas.data.labels = updatedLabels;
              chartEstrellas.data.datasets.data = updatedData;
              chartEstrellas.update();
            })
            .catch((error) =>
              console.error("Error al actualizar la gráfica:", error)
            );
        }
        // Escuchar cambios en los dropdowns y datepickers
        $("#categoriaDropdown, #productoDropdown, #start-date, #end-date").on(
          "change",
          actualizarGrafica
        );
        $("#numeroResenas").click(function () {
          window.location.href = "/graficas";
        });
        $("#calificacionEstrellas").click(function () {
            window.location.href = "/graficas/calificacionEstrellas";
        });
        $("#orderToReview").click(function () {
            window.location.href = "/graficas/orderToReview";
        });
      });
    </script>
  </div>
</div>
