<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<!-- CSS de Bootstrap Datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

<div class="main p-3">
    <div class="container graficas">
        <div class="btn-group d-flex" role="group" aria-label="Menu de gráficas">
            <button type="button" id="numeroResenas" class="btn btn-light flex-fill">Número de reseñas</button>
            <button type="button" id="calificacionEstrellas" class="btn btn-light active flex-fill">Calificación de estrellas</button>
            <button type="button" id="orderToReview" class="btn btn-light flex-fill">Order to review</button>
        </div><br>

        <div class="row">
            <div class="col-sm-4">
                <select class="form-select form-select-sm" aria-label="Small select example" id="categoriaDropdown">
                    <option value="todasCategorias">Todas las categorías</option>
                    <option value="Colchones">Colchones</option>
                    <option value="Almohadas">Almohadas</option>
                    <option value="Muebles">Muebles</option>
                    <option value="Blancos">Blancos</option>
                    <option value="Niños">Niños</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-select form-select-sm" aria-label="Small select example" id="productoDropdown">
                    <option value="todosProductos">Todos los productos</option>
                </select>
            </div>
            <div class="col-sm-4">
                <div id="date-range-container" class="container">
                    <div class="row no-gutters" id="formsFechasInicioFin">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" id="start-date" name="start-date" class="form-control" placeholder="Fecha de Inicio">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" id="end-date" name="end-date" class="form-control" placeholder="Fecha de fin">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% datos.forEach(function(calificacion) { %>
        <div class="calificacion-estrellas">
            <p>Calificación: <%= calificacion.rating %> Estrellas</p>
            <div id="starsContainer<%= calificacion.rating %>">
                <% for(let i = 1; i <= 5; i++) { %>
                    <% if(i <= calificacion.rating) { %>
                        <i class="fa-solid fa-star" style="color: #FFD43B;" ></i> <!-- Estrella completa -->
                    <% } else { %>
                        <i class="far fa-star" style="color: #FFD43B;"></i> <!-- Estrella vacía -->
                    <% } %>
                <% } %> 
                <span>(Cantidad: <%= calificacion.cantidad %>)</span>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<%- include('includes/footer.ejs') %> 

<!-- Scripts para Bootstrap, y Bootstrap Datepicker -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
        $('#start-date').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        $('#end-date').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
</script>
