<%- include('includes/navbar.ejs') %> 
<%- include('includes/sidebar.ejs') %>

<div class="main p-3">
  <div class="container consultar-usuarios">
    <div class="row justify-content-end">
      <div class="col col-lg-3 col-md-4 col-sm-5">

        <!--Agregar rol-->
        <a href="/template" class="btn-agregarUsuario">
          <span> Crear encuesta </span>
          <i class="fas fa-plus"></i>
        </a>

        <div class="input-group mb-3 buscarUsuario">
          <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" />
        </div>

      </div>
    </div>
    
    <div id="notification"></div>

    <!--Encabezados de la tabla-->
    <div id="tarjetaRolesEncabezado" class="row tarjetaUsuario">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <p class="username-usuario-tarjeta-titulo"><br />Encuesta</p>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-1">
        <p class="username-usuario-tarjeta-titulo"><br />Marca</p>
      </div>

      <div class="col-lg-3 col-md-2 col-sm-2">
        <p class="text-tarjeta-usuario"><br />Título</p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
        <p class="username-usuario-tarjeta-titulo"><br />Días de envío</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <p class="username-usuario-tarjeta-titulo"><br />Categoría</p>
      </div>

    </div>

    <!--Tarjetas de encuestas-->
    <% for (let encuesta of encuestas) { %>
        <div id="encuesta-<%= encuesta.IDEncuesta %>" class="row tarjetaUsuario">
          <div class="col-sm-2">
            <p class="username-usuario-tarjeta"><br /><%= encuesta.IDEncuesta %></p>
          </div>
          <div class="col-sm-1">
            <p class="text-tarjeta-usuario"><br /><%= encuesta.Marca %></p>
          </div>
          <div class="col-sm-3">
            <p class="text-tarjeta-usuario"><br /><%= encuesta.Titulo %></p>
          </div>
          <div class="col-sm-1">
            <p class="text-tarjeta-usuario"><br /><%= encuesta.DiasParaEnvio %></p>
          </div>
          <div class="col-sm-3">
            <p class="text-tarjeta-usuario"><br /><%= encuesta.Categoria %></p>
          </div>

    
          <div class="col-lg-2 col-md-4 col-sm-12 d-flex align-items-center justify-content-end">
    
            <!--Botón consultar encuesta-->
            <!-- <a href="/gestionRoles/editarRol" role="button" class="btn text-tarjeta-usuario btn-secondary btn-modificar-eliminar"> -->
            <a role="button" class="btn text-tarjeta-usuario btn-secondary btn-modificar-eliminar">
                Consultar 
            </a>
            &nbsp;&nbsp;
    
          </div>
        </div>
    <% } %>

  </div>
</div>

<%- include('includes/footer.ejs') %>
