<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3">
  <div class="container consultar-compras">

    <div class="input-group mb-3 buscarUsuario">
      <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" />
    </div>
    
    <div class="table-responsive" style="margin-top: 20px; margin-bottom: 20px;">

      <table class="table">

        <!-- Encabezados de la tabla -->
        <thead class="tarjetaComprasEncabezado text-tarjeta-compra">
          <tr>
            <th>IDCompra</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>fechaCompra</th>
            <th>Encuesta</th>
            <th></th>
          </tr>
        </thead>
        <br>
        <tbody class="limit-vert-scroll">
          <%
            // Inicializar un arreglo para almacenar los ID de Encuesta, nombres de cliente y nombres de producto
            const idEncuestas = [];
            const nombresClientes = [];
            const nombresProductos = [];

            for (let compra of compras) { 
            %>
            <tr>
              <td><%= compra.IDCompra %></td>
              <td>
                ID: <%= compra.IDCliente %><br>
                <%= compra.nombreCliente %><br>
                <%= compra.Correo %>
              </td>
              <td>
                Id: <%= compra.IDProducto %><br>
                <%= compra.nombreProducto %>
              </td>
              <td><%= compra.fechaCompra %></td>
              <td>
                Id: <%= compra.IDEncuesta %>
                <%= compra.tituloEncuesta %>
              </td>
              <td>               
                &nbsp;&nbsp;
              </td>
            </tr>
            <% 
              // Agregar el ID de Encuesta al arreglo idEncuestas
              idEncuestas.push(compra.IDEncuesta);
              // Agregar el nombre de cliente al arreglo nombresClientes
              nombresClientes.push(compra.nombreCliente);
              // Agregar el nombre de producto al arreglo nombresProductos
              nombresProductos.push(compra.nombreProducto);
            } 
            // Imprimir los arreglos en la consola del navegador
            console.log('ID de Encuestas:', idEncuestas);
            console.log('Nombres de Clientes:', nombresClientes);
            console.log('Nombres de Productos:', nombresProductos);
          %>

        </tbody>
      </table>
    </div>
    
  </div>
</div>

    <!-- Bot贸n enviar encuesta -->
    <!-- Contenedor del bot贸n enviar encuesta alineado a la derecha -->
    <div class="justify-content-end mb-3">
      <!-- Pasar el arreglo idEncuestas como un atributo de datos -->
      <button id="sendEncuestaCompra" data-nombres-clientes="<%= JSON.stringify(nombresClientes) %>" data-nombres-productos="<%= JSON.stringify(nombresProductos) %>" data-id-encuestas="<%= JSON.stringify(idEncuestas) %>">Enviar Encuesta</button>
    </div>

<script>
  const sendEncuesta = document.querySelector('#sendEncuestaCompra');
  sendEncuesta.addEventListener('click', async () => {
      try {
          const csrf = document.getElementById('_csrf').value;

          // Obtener el arreglo idEncuestas del atributo de datos
          const idEncuestas = JSON.parse(sendEncuesta.getAttribute('data-id-encuestas'));
          const nombresClientes = JSON.parse(sendEncuesta.getAttribute('data-nombres-clientes'));
          const nombresProductos = JSON.parse(sendEncuesta.getAttribute('data-nombres-productos'));

          const response = await fetch('/catalogoCompras/enviarCorreo', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'csrf-token': csrf,
              },
              // Enviar el arreglo idEncuestas como parte del cuerpo de la solicitud POST
              body: JSON.stringify({ idEncuestas: idEncuestas, nombresClientes: nombresClientes, nombresProductos: nombresProductos })
          });
          const data = await response.json();

          if (response.status === 200) {
              alert(data.message);
          } else {
              alert(data.message);
          }
      } catch (error) {
          console.error('Error:', error);
          alert('Ocurri贸 un error al enviar el correo electr贸nico.');
      }
  });
</script>

<%- include('includes/footer.ejs') %>