<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3">
  <div class="container">
    <div class="row miPerfil">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div>
          <img src="https://icon-library.com/images/username-icon-png/username-icon-png-6.jpg" alt="Profile Picture" class="img-fluid profile-picture mb-4">
          <p class="text-center nombre-usuario"><%=nombre%></p>
          <p class="text-center tipo-usuario"><%=nombre_rol%></p>
          <p class="text-center tipo-usuario"><%=password%></p>
        </div>
      </div>
      
      <div class="col-md-8">
        <form action = "/configuracion" method="POST">
          <div class="mb-5 contenido-con-margen">
            <label for="inputNombre" class="form-label label-miPerfil">Contrase単a actual</label>
            <input type="password" class="form-control input-miPerfil" id="inputNombre" value="contrase単aactual">
          
            <label for="inputEmail" class="form-label label-miPerfil">Nueva contrase単a</label>
            <input type="password" class="form-control input-miPerfil" id="password">
          
            <label for="inputUsuario" class="form-label label-miPerfil">Confirmar contrase単a nueva</label>
            <input type="password" class="form-control input-miPerfil" id="password2">
          </div>
        </form>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-custom-contrasena">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer.ejs') %>