<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3 background-color">
  <div class="container form">
    <form class="crearUsuario" action="/gestionUsuarios/crearUsuario" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <h1 class ="titulo-form"> Crear Usuario</h1>
        <div class="mb-5 contenido-con-margen">
          <label for="inputUsuario" class="form-label label-crearUsuario" for="username">Usuario</label>
          <input type="text" class="form-control input-crearUsuario" id="username" name="username" required="">
        
          <label for="inputNombre" class="form-label label-crearUsuario" for="name">Nombre</label>
          <input type="text" class="form-control input-crearUsuario" id="name" name="name" required="">

          <label for="inputPassword" class="form-label label-crearUsuario" for="password">Contraseña</label>
          <input type="password" class="form-control input-crearUsuario" id="password" name="password" required="">
        
          <label for="inputUsuario" class="form-label label-crearUsuario">Rol</label>
          <select id="inputUsuario" class="form-control input-crearUsuario" name="idrol">
            <% roles.forEach(rol => { %>
              <option value="<%= rol.idrol %>"><%= rol.nombre %></option>
          <% }); %>
          </select>
        </div>
        <% if(error != '') { %>
          <div class="errorcrearusuario">
            <%= error %>
          </div>
          <% } %>
        <div class="btn-formUsuario">
            <button type="submit" class="btn btn-dark">Enviar</button>
        </div>
        <div id="messageContainer" style="display: none;" class="alert alert-info">
        </div>
      </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const form = document.querySelector('.crearUsuario');
      form.addEventListener('submit', function(event) {
          event.preventDefault(); // Evita el envío inmediato del formulario

          const messageContainer = document.getElementById('messageContainer');
          messageContainer.innerText = 'Usuario creado exitosamente'; // Establece el mensaje que quieres mostrar
          messageContainer.style.display = 'block'; // Muestra el contenedor del mensaje

          setTimeout(function() {
              form.submit(); // Envía el formulario después de 3 segundos
          }, 3000); // 3000 milisegundos = 3 segundos
      });
  });
</script>

<%- include('includes/footer.ejs') %>