<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3 background-color">
  <div class="container form">
    <form class="crearUsuario" action="/editarRol" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
      <input type="hidden" id="nombre" name="nombre" value="<%= rol.nombre %>">
      <input type="hidden" id="idRol" name="idRol" value="<%= rol.idrol %>">

      <h1 class="titulo-form">Modificar rol: <%= rol.nombre %></h1>


        <div class="mb-5 contenido-con-margen">
          <label for="inputNombre" class="form-label label-crearUsuario">Nombre del rol</label>
          <input type="text" class="form-control input-crearUsuario" id="nombreRol" name="nombreRol">

          <label for="inputNombre" class="form-label label-crearUsuario">Modificar Privilegio</label>
          <div id="inputUsuario" class="form-control input-crearUsuario">
            <% privilegios.forEach(function(privilegio) { %>
              <div>
                  <input type="checkbox" id="<%= privilegio.permiso %>" name="rol" value="<%= privilegio.permiso %>"
                  <%= privilegiosActuales.includes(privilegio.permiso) ? 'checked' : '' %>>
                  <label for="<%= privilegio.permiso %>"><%= privilegio.permiso %></label>
              </div>
          <% }); %>
        </div>
          <label for="listaPrivilegios" class="form-label label-crearUsuario">Privilegios</label>
          <div class="card privilegio">
            <div class="card-body list-group-numbered" id="listaPrivilegios">
                <!-- Los ítems se agregarán dinámicamente aquí -->
            </div>
         </div>
        </div>
        
        <div class="btn-formUsuario"> 
            <button type="submit" class="btn btn-dark">Guardar</button>
        </div>
      </form>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name="rol"]');
    
    function actualizarListaPrivilegios() {
      const lista = document.getElementById('listaPrivilegios');
      lista.innerHTML = '';
      
      checkboxes.forEach(checkbox => {
        if (checkbox.checked) {
          const item = document.createElement('li');
          item.classList.add('list-group-item');
          item.textContent = checkbox.value;
          lista.appendChild(item);
        }
      });
    }
    
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('change', actualizarListaPrivilegios);
    });
  });

  const modificar = (idrol, nombre) => {
          console.log("Modificando rol:", nombre);
          const csrf = document.getElementById('_csrf').value;
          fetch('/gestionRoles/modificar', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'csrf-token': csrf,
              },
              body: JSON.stringify({idrol: idrol})
          }).then((result) => {
              if (result.ok) {
                  document.getElementById('notificationDelete').innerHTML = `
                      <div class="alert alert-success" role="alert">
                          El rol "${nombre}" fue modificado correctamente.
                      </div>
                  `;
              } else {
                  alert('El rol está asignado a uno o más usuarios y no puede ser eliminado.');
                  document.getElementById('notification').innerHTML = `
                      <div class="alert alert-danger" role="alert">
                          EROR: El rol "${nombre}" no fue eliminado.
                      </div>
                  `;
              }
          }).catch((error) => {
              console.error('Error:', error);
              alert('Error al eliminar el rol.');
          });
  }
</script>


<%- include('includes/footer.ejs') %>
