<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3 background-color">
  <div class="container form">
    <form action = "/template" method = "POST" class="crearUsuario">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <h1 class ="titulo-form"> Crear Encuesta</h1>
        <div class="mb-5 contenido-con-margen">
          <input type="hidden" name="IDMarca" value="1">
          <label for="titulo" class="form-label label-crearUsuario">Titulo de la encuesta</label>
          <input type="text" class="form-control input-crearUsuario" id="titulo" name="titulo" required>

          
          <label for="categoria" class="form-label label-crearUsuario">Categoría</label>
            <select class="form-select form-select-sm" aria-label="Small select example" id="categoria" name="categoria">
                <% for(let categoria of categoriasMarca) { %>
                    <option value="<%= categoria.Categoria %>"><%= categoria.Categoria %>, <%= categoria.nombre_marca %> </option>
                <% } %>
            </select>  
        
          <label for="diasParaEnvio" class="form-label label-crearUsuario">Días para envío: </label>
              <select class="form-select form-select-sm" aria-label="Small select example" id="diasParaEnvio" name="diasParaEnvio">
                  <option>15</option>
                  <option>7</option>
                  <option>10</option>
                  <option>20</option>
              </select>  
              <p><br>Nota: Después de realizar una compra y cumplir los días para envío de encuesta asignados, el cliente recibirá un correo con con la encuesta correspondiente al producto comprado.</p>
          
        </div>
        <div class="btn-formUsuario">
            <button type="submit" class="btn btn-dark">Enviar</button>
        </div>
      </form>
  </div>
</div>


<%- include('includes/footer.ejs') %>