<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3 background-color">
  
  <div class="container form">
    <form action = "/template" method = "POST" class="crearUsuario">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <h1 class ="titulo-form"> Crear Encuesta</h1>
        <div class="mb-5 contenido-con-margen">
          <input type="hidden" name="IDMarca" value="<%= nombreMarca === 'LUUNA' ? '1' : nombreMarca === 'NOOZ' ? '2' : nombreMarca === 'MAPPA' ? '3' : '1' %>">
          <label for="titulo" class="form-label label-crearUsuario">Título de la encuesta</label>
          <input type="text" class="form-control input-crearUsuario" id="titulo" name="titulo" required>

          
          <label for="categoria" class="form-label label-crearUsuario">Categoría</label>
            <select class="form-select form-select-sm" aria-label="Small select example" id="categoria" name="categoria">
                <% for(let categoria of categoriasMarca) { %>
                    <option value="<%= categoria.Categoria %>"><%= categoria.Categoria %></option>
                <% } %>
            </select>  
        
          <label for="diasParaEnvio" class="form-label label-crearUsuario">Días para envío: </label>
              <select class="form-select form-select-sm" aria-label="Small select example" id="diasParaEnvio" name="diasParaEnvio">
                  <option>15</option>
                  <option>7</option>
                  <option>10</option>
                  <option>20</option>
              </select>  
              <p><br>Nota: Tras la realización de una compra por parte de un cliente y una vez transcurrido el plazo establecido para el envío de la encuesta, se procederá al envío de un correo electrónico que contendrá la encuesta correspondiente al producto adquirido.</p>
          
        </div>
        <div class="btn-formUsuario">
          <button type="button" id="enviarFormulario" class="btn btn-dark">Enviar</button>
      </div>
  </form>
</div>
</div>

<%- include('includes/footer.ejs') %>

<script>
  document.getElementById('enviarFormulario').addEventListener('click', function() {
      // Mostrar confirmación
      if(confirm("Ya existe una encuesta para esta categoría. Al continuar, esta encuesta será asignada y la anterior se descartará. ¿Desea continuar?")) {
          // Enviar solicitud AJAX al controlador para crear la encuesta
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/template', true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('X-CSRF-Token', document.querySelector('[name="_csrf"]').value); // Añadir el token CSRF
          xhr.onload = function() {
              if (xhr.status === 200) {
                  // Encuesta creada correctamente, continuar con lo siguiente en el controlador
                  window.location.href = '/template/editarEncuesta';
              } else {
                  console.error('Error al crear la encuesta:', xhr.responseText);
              }
          };
          xhr.onerror = function() {
              console.error('Error de red al crear la encuesta.');
          };
          xhr.send(JSON.stringify({
              IDMarca: document.querySelector('[name="IDMarca"]').value,
              titulo: document.querySelector('[name="titulo"]').value,
              diasParaEnvio: document.querySelector('[name="diasParaEnvio"]').value,
              categoria: document.querySelector('[name="categoria"]').value
          }));
      } else {
          // No continuar, el usuario canceló
      }
  });
</script>


<%- include('includes/footer.ejs') %>