<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3">
  <div class="container consultar-usuarios">
    <div class="row justify-content-end">
        <div class="col col-lg-3 col-md-4 col-sm-5">
            <!--Agregar usuario-->
            <a href="/gestionUsuarios/crearUsuario" class="btn-agregarUsuario">
                <span>Agregar usuario</span>
                <i class="fas fa-plus"></i>
            </a>
            
            <!--Search bar-->
            <div class="input-group mb-3 buscarUsuario">
                <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                <button class="btn btn-dark" type="button">
                <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="notification"></div>
    <div id="notificationExitoModificacionUsuario"></div>

    <% if (mensaje) { %>
        <div class="alert alert-success" role="alert">
            <%= mensaje %>
        </div>
    <% } %>
    
    <!--Encabezado-->
    <div id="tarjetaUsuarioEncabezado" class="row tarjetaUsuario">
        <div class="col-lg-2 col-md-3 col-sm-3 d-flex justify-content-center align-items-center">
            <svg class="bi bi-person-fill text-white" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <p class="username-usuario-tarjeta-titulo"><br>Username</p>
        </div>
        <div class="col-sm-2">
           <p class="text-tarjeta-usuario"><br>Nombre Usuario</p>
        </div>
        <div class="col-sm-2">
            <p class="text-tarjeta-usuario"><br>Rol</p> 
        </div>
    </div> 

    <!--Tarjetas de usuario-->
    <% for (let usuario of usuarioRegistrado) { %>
        <div id="usuario-<%= usuario.username %>" class="row tarjetaUsuario">
            <div class="col-lg-2 col-md-3 col-sm-3">
                <p class="username-usuario-tarjeta"><br><%=usuario.username%></p>
            </div>
            <div class="col-sm-2">
               <p class="text-tarjeta-usuario"><br><%=usuario.nombre%></p>
            </div>
            <div class="col-sm-2">
               <p class="text-tarjeta-usuario"><br><%=usuario.rol_nombre%></p> 
            </div>

            <div class="col-lg-2 col-md-1">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-end">
               <!--Modificar usuario-->
               <% if (usuario.username != 'admin') { %>
                <a href="/modificarUsuarios/<%= usuario.username %>" role="button" class="btn text-tarjeta-usuario btn-secondary btn-modificar-eliminar">
                    Modificar
                </a> 
                &nbsp;&nbsp;
                <!--Eliminar usuario-->
                <button onclick="eliminar('<%= usuario.username %>')" type="button" class="btn text-tarjeta-usuario btn-dark btn-modificar-eliminar">
                    Eliminar
                </button>
                <% } %>    
            </div>
        </div>
    <% } %>    

  </div>
</div>

<script>
    const eliminar = (username) => {
        const respuesta = confirm("¿Deseas eliminar este registro de manera permanente?");
        if (respuesta) {
            console.log("Eliminando usuario:", username);
            const csrf = document.getElementById('_csrf').value;
            fetch('/gestionUsuarios/eliminar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'csrf-token': csrf,
                },
                body: JSON.stringify({username: username})
            }).then((result) => {
                if (result.ok) {
                    document.getElementById(`usuario-${username}`).remove();
                    document.getElementById('notification').innerHTML = `
                        <div class="alert alert-success" role="alert">
                            El usuario ${username} fue eliminado correctamente.
                        </div>
                    `;
                } else {
                    alert('Hubo un error al intentar eliminar el usuario.');
                }
            }).catch((error) => {
                console.error('Error:', error);
                alert('Error al eliminar el usuario.');
            });
        }
    }

</script>

<%- include('includes/footer.ejs') %>
