<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3"> 
  <div class="container consultar-usuarios">
    <div class="row justify-content-end">
        <div class="col col-lg-3 col-md-4 col-sm-5">
            <!--Agregar usuario-->
            <a href="/gestionUsuarios/crearUsuario" class="btn-agregarUsuario">
                <span>Agregar usuario</span>
                <i class="fas fa-plus"></i>
            </a>
            
            <!--Search bar-->
            <div class="group">
                <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                <input id="buscar" class="input" type="text" placeholder="Buscar..."/><br><br>
            </div>
        </div>
    </div>
    <div id="notification"></div>
    <div id="notificationExitoModificacionUsuario"></div>

    <% if (mensaje) { %>
        <div id="successAlert" class="alert alert-success" role="alert">
            <%= mensaje %>
        </div>
    <% } %>
    
    <!--Encabezado-->
    <div id="tarjetaUsuarioEncabezado" class="row tarjetaUsuario">
        <div class="col-lg-4 col-md-3 col-sm-3 d-flex justify-content-left align-items-center">
            <svg class="bi bi-person-fill text-white" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <p class="username-usuario-tarjeta-titulo"><br>Username</p>
        </div>
        <div class="col-lg-3 col-sm-2">
           <p class="text-tarjeta-usuario"><br>Nombre</p>
        </div>
        <div class="col-sm-2">
            <p class="text-tarjeta-usuario"><br>Rol</p> 
        </div>
    </div> 
    <div id="busqueda_ajax">
        <div>
            <!--Tarjetas de usuario-->
            <% for (let usuario of usuarioRegistrado) { %>
                <div id="usuario-<%= usuario.username %>" class="row tarjetaUsuario">
                    <div class="col-lg-4 col-md-3 col-sm-3">
                        <p class="username-usuario-tarjeta"><br><%=usuario.username%></p>
                    </div>
                    <div class="col-lg-3 col-sm-2">
                       <p class="text-tarjeta-usuario"><br><%=usuario.nombre%></p>
                    </div>
                    <div class="col-sm-2">
                       <p class="text-tarjeta-usuario"><br><%=usuario.rol_nombre%></p> 
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 d-flex align-items-center justify-content-end">
                       <!--Modificar usuario-->
                       <% if (usuario.username != 'admin') { %>
                        <a href="/modificarUsuarios/<%= usuario.username %>" role="button" class="btn text-tarjeta-usuario btn-secondary btn-modificar-eliminar">
                            Modificar
                        </a> 
                        &nbsp;&nbsp;
                        <!--Eliminar usuario-->
                        <button onclick="eliminar('<%= usuario.username %>')" type="button" class="btn text-tarjeta-usuario btn-dark btn-modificar-eliminar">
                            Eliminar
                        </button>
                        <% } %>    
                    </div>
                </div>
            <% } %>
        </div>  
    </div>  
  </div>
</div>

<script>
    const eliminar = (username) => {
        const respuesta = confirm("¿Deseas eliminar este registro de manera permanente?");
        if (respuesta) {
            console.log("Eliminando usuario:", username);
            const csrf = document.getElementById('_csrf').value;
            fetch('/gestionUsuarios/eliminar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'csrf-token': csrf,
                },
                body: JSON.stringify({username: username})
            }).then((result) => {
                if (result.ok) {
                    document.getElementById(`usuario-${username}`).remove();
                    document.getElementById('notification').innerHTML = `
                        <div id="eliminarusuario22" class="alert alert-success" role="alert">
                            El usuario ${username} fue eliminado correctamente.
                        </div>
                    `;
    
                    // Configurar el temporizador para la notificación recién creada
                    setTimeout(function() {
                        var alertDiv = document.getElementById('eliminarusuario22');
                        if (alertDiv) {
                            alertDiv.style.opacity = '0';
                            setTimeout(function() {
                                alertDiv.remove();
                            }, 600); // Tiempo adicional para la transición de desvanecimiento
                        }
                    }, 4000); // Desaparece después de 4 segundos
    
                } else {
                    alert('Hubo un error al intentar eliminar el usuario.');
                }
            }).catch((error) => {
                console.error('Error:', error);
                alert('Error al eliminar el usuario.');
            });
        }
    }
    
    window.onload = function() {
        // Manejar la alerta de éxito si existe
        var alertDiv = document.getElementById('successAlert');
        if (alertDiv) {
            setTimeout(function() {
                alertDiv.style.opacity = '0';
                setTimeout(function() {
                    alertDiv.remove();
                }, 600); // Tiempo adicional para la transición de desvanecimiento
            }, 4000); // Desaparece después de 4 segundos
        }
    };
    
    const accion_asincrona = () => {
        const valor_busqueda = document.getElementById('buscar').value;
        console.log("buscando... " + valor_busqueda);
        //función que manda la petición asíncrona
        fetch('/gestionUsuarios/buscar/' + valor_busqueda, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then((result) => {
            console.log(result);
            return result.json();
        }).then((data) => {
            console.log(data);
            let html =
            '<div>';
            data.users.forEach(usuario => {
    
            html += `
            <div>
                    <div  class="row tarjetaUsuario" id="usuario-${usuario.username}">
                        <div class="col-lg-4 col-md-3 col-sm-3 ">
                            <p class="username-usuario-tarjeta"><br>${usuario.username}</p>
                        </div>
                        <div class="col-lg-3 col-sm-2">
                           <p class="text-tarjeta-usuario"><br>${usuario.nombre}</p>
                        </div>
                        <div class="col-sm-2">
                           <p class="text-tarjeta-usuario"><br>${usuario.rol_nombre}</p> 
                        </div>
                    
                        <div class="col-lg-3 col-md-4 col-sm-12 d-flex align-items-center justify-content-end">
                           <!--Modificar usuario-->
                           ${usuario.username !== 'admin' ? `
                            <a href="/modificarUsuarios/${usuario.username}" role="button" class="btn text-tarjeta-usuario btn-secondary btn-modificar-eliminar">
                                Modificar
                            </a> 
                            &nbsp;&nbsp;
                            <!--Eliminar usuario-->
                            <button onclick="eliminar('${usuario.username}')" type="button" class="btn text-tarjeta-usuario btn-dark btn-modificar-eliminar">
                                Eliminar
                            </button>` : ''} 
                        </div>
                    </div>
                </div>  
            `;
        });
            html += `</div>`;
            document.getElementById('busqueda_ajax').innerHTML = html;

        }).catch((error) => {
            console.log(error);
        });
    };
    document.getElementById('buscar').onkeyup = accion_asincrona;
    
</script>

<%- include('includes/footer.ejs') %>
