<%- include('includes/navbar.ejs') %> <%- include('includes/sidebar.ejs') %>
<!--Agregar css con estilos para despliegue de calendario-->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
  rel="stylesheet"
/>

<div class="main p-3">
  <div class="container graficas">
    <!-- Mensaje de descarga -->
    <div id="mensajeDescarga" class="mensaje-descarga hidden">
      <div
        class="card position-absolute top-50 start-50 translate-middle-x"
        style="z-index: 1000"
      >
        <div class="card-body">
          <button
            type="button"
            class="close position-absolute top-0 end-0 cerrar-mensaje"
            onclick="cerrarMensaje()"
          >
            &times;
          </button>
          <img
            class="imagen-mensaje"
            src="https://th.bing.com/th/id/R.8bfd6c898d5d12a841301a5920fbc952?rik=bO1yKiy5RnL58g&pid=ImgRaw&r=0"
            alt="Imagen de mensaje"
          />
          <p class="contenido-mensaje" id="contenidoMensaje"></p>
        </div>
      </div>
    </div>

    <!-- Menú de las diferentes gráficas -->
    <div class="container graficas">
      <div class="btn-group d-flex" role="group" aria-label="Menu de gráficas">
        <button
          type="button"
          id="numeroResenas"
          class="btn btn-light flex-fill"
        >
          Número de reseñas
        </button>
        <button
          type="button"
          id="calificacionEstrellas"
          class="btn btn-light active flex-fill"
        >
          Calificación de estrellas
        </button>
        <button
          type="button"
          id="orderToReview"
          class="btn btn-light flex-fill"
        >
          Order to review
        </button>
      </div>
      <br />

      <div class="row">
        <div class="col-sm-4">
          <select
            class="form-select form-select-sm"
            aria-label="Small select example"
            id="categoriaDropdown"
          >
            <option value="">Seleccione una categoría</option>
            <% if (categorias) { %>
                <% categorias.forEach(function(categoria) { %>
                  <option value="<%= categoria.Categoria %>"><%= categoria.Categoria %></option>
                <% }); %>
              <% } else { %>
                <option value="">No hay categorías disponibles</option>
              <% } %>
          </select>
        </div>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <select
            class="form-select form-select-sm"
            aria-label="Small select example"
            id="productoDropdown"
          >
            <option value="todosProductos">Todos los productos</option>
          </select>
        </div>
        <div class="col-sm-4">
          <div id="date-range-container" class="container">
            <div class="row no-gutters" id="formsFechasInicioFin">
              <div class="col-sm-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="start-date"
                    name="start-date"
                    class="form-control"
                    placeholder="Fecha de Inicio"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="end-date"
                    name="end-date"
                    class="form-control"
                    placeholder="Fecha de fin"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12" style="width: 100%; height: 400px">
          <canvas id="numeroResenas"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!--Scripts para el despliegue de calendario-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    $("#start-date").datepicker({ format: "yyyy/mm/dd", autoclose: true });
    $("#end-date").datepicker({ format: "yyyy/mm/dd", autoclose: true });

    var ctx = document.getElementById("numeroResenas").getContext("2d");
    var chartEstrellas = new Chart(ctx, {
      type: "line", // Choose the type of chart: line, bar, etc.
      data: {
        labels: [], // Placeholder for labels
        datasets: [
          {
            label: "Número de Reseñas",
            data: [], // Placeholder for data
            backgroundColor: "rgba(54, 162, 235, 0.2)",
            borderColor: "rgba(54, 162, 235, 1)",
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });

    // Cargar productos basados en la categoría seleccionada
    $("#categoriaDropdown").on("change", function () {
      const categoriaSeleccionada = $(this).val();
      fetch(
        `http://localhost:3000/graficas/productosPorCategoria?categoria=${categoriaSeleccionada}`
      )
        .then((data) => data.json())
        .then((data) => {
          data.forEach((producto) =>
            $("#productoDropdown").append(
              `<option value="${producto.Nombre}">${producto.Nombre}</option>`
            )
          );
        });
      $("#productoDropdown")
        .empty()
        .append('<option value="">Seleccione un producto</option>');
    });
    function actualizarGrafica() {
      console.log("Actualizando");
      const categoriaSeleccionada = $("#categoriaDropdown").val();
      const productoSeleccionado = $("#productoDropdown").val();
      const fechaInicio = $("#start-date").val();
      const fechaFin = $("#end-date").val();

      fetch(
        `http://localhost:3000/graficas/calificacionesFiltradas?categoria=${categoriaSeleccionada}&producto=${productoSeleccionado}&fechaInicio=${fechaInicio}&fechaFin=${fechaFin}`
      )
        .then((response) => response.json())
        .then((data) => {
          const updatedLabels = data.map((d) => `${d.rating} estrellas`);
          const updatedData = data.map((d) => d.cantidad);

          chartEstrellas.data.labels = updatedLabels;
          chartEstrellas.data.datasets.data = updatedData;
          chartEstrellas.update();
        })
        .catch((error) =>
          console.error("Error al actualizar la gráfica:", error)
        );
    }
    // Escuchar cambios en los dropdowns y datepickers
    $("#categoriaDropdown, #productoDropdown, #start-date, #end-date").on(
      "change",
      actualizarGrafica
    );
    $("#numeroResenas").click(function () {
      window.location.href = "/graficas";
    });
    $("#calificacionEstrellas").click(function () {
      window.location.href = "/graficas/calificacionEstrellas";
    });
    $("#orderToReview").click(function () {
      window.location.href = "/graficas/orderToReview";
    });
  </script>

  <%- include('includes/footer.ejs') %>
</div>
