<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3">
  <div class="container">
    <div class="row miPerfil">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div>
          <img src="https://icon-library.com/images/username-icon-png/username-icon-png-6.jpg" alt="Profile Picture" class="img-fluid profile-picture mb-4">
          <p class="text-center nombre-usuario"><%=nombre%></p>
          <p class="text-center tipo-usuario"><%=nombre_rol%></p>
        </div>
      </div>
      
      <div class="col-md-8">
        <form>
          <div class="mb-5 contenido-con-margen">
            <label for="inputNombre" class="form-label label-miPerfil">Nombre de usuario</label>
            <input type="text" class="form-control input-miPerfil" id="inputNombre" value="<%=username%>" readonly>
          
            <!--<label for="inputEmail" class="form-label label-miPerfil">Correo</label>
            <input type="email" class="form-control input-miPerfil" id="inputCorreo" value="correousuario@example.com" readonly>-->
          
            <label for="inputUsuario" class="form-label label-miPerfil">Contraseña&nbsp;</label>
            <a href = "/configuracion"> <i class="lni lni-pencil"></i> </a>
            <input type="password" class="form-control input-miPerfil" id="inputContraseña" value="contraseña" readonly>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer.ejs') %>