<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3 background-color">
  <div class="container form">
    <form class="crearUsuario" action="/modificarUsuarios" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
      <input type="hidden" id="username" name="username" value="<%= usuario.username %>" >

      <h1 class ="titulo-form"> Modificar Usuario: <%= usuario.username %></h1>
        <div class="mb-5 contenido-con-margen">
          <label for="nombre" class="form-label label-crearUsuario">Nombre de usuario</label>
          <input type="text" class="form-control input-crearUsuario" id="nombre" name="nombre" value="<%= usuario.nombre %>">

          <label for="password" class="form-label label-crearUsuario">Contraseña</label>
          <input type="password" class="form-control input-crearUsuario" id="password" name="password" value="........" disabled> 
          
          <label for="rol" class="form-label label-crearUsuario">Rol</label> 
          <select id="inputUsuario" class="form-control input-crearUsuario" name="idrol">
            <% roles.forEach(rol => { %>
                <option value="<%= rol.idrol %>" <% if (usuario.nombre_rol === rol.nombre) { %> selected <% } %>>
                    <%= rol.nombre %>
                </option>
            <% }); %>
          </select>
          

          
        </div>
        <div class="btn-formUsuario">
            <button type="submit" class="btn btn-dark">Guardar</button>
        </div>
      </form>
  </div>
</div>

<%- include('includes/footer.ejs') %>
