<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3">

<div class="container margenresena">
  <form action="/resena" method="get">
    <select name="categoria" class="form-select d-inline-block categorias" aria-label="Small select example" id="productoDropdown">
        <option value="">Todas las reseñas</option>
        <% listaCategorias.forEach(categoria => { %>
            <option value="<%= categoria.Categoria %>"><%= categoria.Categoria %></option>
        <% }) %>
    </select>
    <button class="btn btn-dark d-inline-block" type="submit">Filtrar</button>
</form>
</div>


  <div class="container">
    <div class="col">
      <% for (let re of resena) { %>
        <div class="card">
          <div class="card-header">
            <%= re.Descripcion %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= re.Titulo %></h5>
            <p class="card-text">
              <% for (let i = 0; i < re.Rating; i++) { %>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              <% } %>
              <% for (let i = re.Rating; i < 5; i++) { %>
                <i class="far fa-star" style="color: #FFD43B;"></i>
              <% } %>
            </p>
            <p class="card-text"><%= re.Correo %></p>
            <p class="card-text"><%= re.FechaContestacion %></p>

          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>
<script>
  document.getElementById('dropdownMenuLink').addEventListener('change', function() {
    const marcaSeleccionada = this.value;
    fetch(`/api/categorias?marca=${marcaSeleccionada}`)
        .then(response => response.json())
        .then(data => {
            const select = document.getElementById('productoDropdown');
            select.innerHTML = '<option value="">Todas las reseñas</option>';
            data.listaCategorias.forEach(categoria => {
                select.innerHTML += `<option value="${categoria.Categoria}">${categoria.Categoria}</option>`;
            });
        })
        .catch(error => console.error('Error al cargar categorías:', error));
});


</script>

<%- include('includes/footer.ejs') %>