<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<%- include('includes/subsidebarSimple.ejs') %>

<div class="main p-3">

<div class="container margenresena">
  <form action="/resena" method="get" class="d-flex">
    <select name="categoria" class="form-select form-select-sm me-2" aria-label="Small select example" id="productoDropdown" style="width: auto;">
        <option value="">Todas las reseñas</option>
        <option value="Almohadas">Almohadas</option>
        <option value="Colchon">Colchon</option>
        <option value="General">General</option>
        <option value="Maletas">Maletas</option>
        <option value="Sabanas">Sábanas</option>
    </select>
    <button class="btn btn-dark" type="submit">Filtrar</button>
  </form>
</div>

  <div class="container">
    <div class="col">
      <% for (let re of resena) { %>
        <div class="card">
          <div class="card-header">
            <%=re.Descripcion%>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%=re.Titulo%></h5>
            <p class="card-text"><%=re.FechaContestacion%></p>
            <p class="card-text"> Estrellas: <%=re.Rating%></p>    
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>
<%- include('includes/footer.ejs') %>