<%- include('includes/navbar.ejs') %> <%- include('includes/sidebar.ejs') %>

<div class="main p-3">
  <div class="container margenresena">
    <form action="/resena" method="get">
      <select
        name="categoria"
        class="form-select d-inline-block categorias"
        aria-label="Small select example"
        id="productoDropdown"
      >
        <option value="">Todas las reseñas</option>
        <% listaCategorias.forEach(categoria => { %>
            <option value="<%= categoria.Categoria %>"><%= categoria.Categoria %></option>
        <% }) %>
    </select>
    <button class="btn btn-dark d-inline-block" type="submit">Filtrar</button>
</form>
</div>

<div class="table-responsive">
  <% let contadorresenas = 0 %>
  <div class="container">
      <div class="col">
        <% for (let re of resena) { %>
          <% contadorresenas += 1 %>
          <div class="card">
            <div class="card-header">
              <%= re.Descripcion %>
            </div>
            <div class="card-body">
              <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
              <i class="fa-regular eye-icon visibility <%= re.Visibilidad ? 'fa-eye' : 'fa-eye-slash' %>" data-reseña-id="<%= re.IDReseña  %>" style="cursor: pointer;"></i>
              <input type="hidden" name="idReseña" value="<%= re.IDReseña  %>">
              <h5 class="card-title"><%= re.Titulo %></h5> 
              <p class="card-text">
                <% for (let i = 0; i < re.Rating; i++) { %>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <% } %>
                <% for (let i = re.Rating; i < 5; i++) { %>
                  <i class="far fa-star" style="color: #FFD43B;"></i>
                <% } %>
              </p>
              <p class="card-text"><%= re.Correo %></p>
              <p class="card-text">Producto: <%= re.NombreProducto %></p>
              <%= new Date(re.FechaContestacion).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <% if(contadorresenas == 0) { %>
      <div class="centrarmensajeresena">No hay reseñas disponibles</div>
    <% } %>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const eyeIcons = document.querySelectorAll('.eye-icon');

    eyeIcons.forEach(function(eyeIcon) {
        eyeIcon.addEventListener('click', function() {
            const reseñaId = eyeIcon.getAttribute('data-reseña-id'); // Obtener el ID de la reseña
            const isVisible = eyeIcon.classList.contains('fa-eye-slash') ? 1 : 0; 
            const csrf = document.getElementById('_csrf').value;

            // Enviar la información de visibilidad al servidor mediante una solicitud fetch
            fetch('/resena/actualizarVisibilidad', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'csrf-token': csrf 
                },
                body: JSON.stringify({ reseñaId: reseñaId, isVisible: isVisible })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to update visibility.');
                }
                return response.json();
            })
            .then(data => {
                console.log(data.message); // Mensaje de éxito
            })
            .catch(error => {
                console.error('Error:', error);
            });

            // Alternar las clases del icono del ojo para cambiar su apariencia
            eyeIcon.classList.toggle('fa-eye');
            eyeIcon.classList.toggle('fa-eye-slash');
        });
    });
});
</script>

<%- include('includes/footer.ejs') %>

